set timeout=0
set default=0

menuentry "Migasfree Clone System" {
    linux /boot/vmlinuz-lts root=LABEL=MCS_ROOT modules=sd-mod,usb-storage,ext4,virtio_net,e1000,e1000e,r8169,tg3,igb,ixgbe,vmxnet3
    initrd /boot/initramfs-lts
}